<ul
  *ngIf="data.children && data.children.length > 0"
  class="sublevel-nav"
  [@submenu]="
    expanded
      ? {
          value: 'visible',
          params: {
            transitionParams: '400ms cubic-bezier(0.86, 0, 0.07, 1)',
            height: '*'
          }
        }
      : {
          value: 'hidden',
          params: {
            transitionParams: '400ms cubic-bezier(0.86, 0, 0.07, 1)',
            height: '0'
          }
        }
  "
>
  <li *ngFor="let item of data.children" class="sublevel-nav-item">
    <a
      href=""
      class="sublevel-nav-link"
      *ngIf="item.children && item.children.length > 0"
      [ngClass]="getActiveClass(item)"
      (click)="handleClick($event, item)"
      [title]="data.label"
    >
      <i class="sublevel-link-icon" [class]="item.icon"></i>
      <span class="sublevel-link-text" @fadeInOut *ngIf="!collapsed">
        {{ item.label }}
      </span>
      <i
        *ngIf="item.children && !collapsed"
        class="menu-collapsed-icon"
        [ngClass]="!item.expanded ? 'pi pi-angle-right' : 'pi pi-angle-down'"
      ></i>
    </a>
    <a
      href=""
      class="sublevel-nav-link"
      *ngIf="!item.children || (item.children && item.children.length === 0)"
      [routerLink]="[item.routerLink]"
      routerLinkActive="active-sublevel"
      [routerLinkActiveOptions]="{ exact: true }"
      [title]="data.label"
    >
      <i class="sublevel-link-icon" [class]="item.icon"></i>
      <span class="sublevel-link-text" @fadeInOut *ngIf="!collapsed">
        {{ item.label }}
      </span>
    </a>
    <div *ngIf="item.children && item.children.length > 0">
      <app-subnav
        [data]="item"
        [collapsed]="collapsed"
        [multiple]="multiple"
        [expanded]="item.expanded"
      ></app-subnav>
    </div>
  </li>
</ul>
