.sublevel-nav {
  list-style: none;
  margin-left: 1rem;

  .sublevel-nav-item {
    .sublevel-nav-link {
      display: flex;
      align-items: center;
      height: 4.8rem;
      color: #898989;
      text-decoration: none;
      border-radius: 1rem;
      transition: all 0.3s ease;

      .sublevel-link-icon {
        font-size: 0.4rem;
        width: 3.2rem;
        min-width: 3.2rem;
        margin: 0 0.8rem;
        text-align: center;
      }

      .sublevel-link-text {
        margin-left: 1.28rem;
      }

      &:hover {
        color: #f3f3f3;
      }
    }
  }
}

.active-sublevel {
  color: #f3f3f3 !important;
  opacity: 1;
}
