<emir-form-dialog [header]="'Thêm mới'" [listAction]="listAction">
  <div class="card">
    <div class="p-fluid p-formgrid grid">
      <div class="flex col-12">
        <div class="w-full">
          <emir-form-input
            [(ngModelValue)]="referralCode"
            [placeholder]="'Tìm kiếm tư vấn viên'"
          ></emir-form-input>
        </div>
        <div class="ml-2 mt-4">
          <emir-form-button
            [label]="'Tìm kiếm'"
            [styleClass]="'w-max'"
            (_onClick)="onClickSearch($event)"
          ></emir-form-button>
        </div>
      </div>
      <div class="col-12">
        <emir-form-input
          [label]="'Mã tư vấn viên'"
          [(ngModelValue)]="dataSource.code"
          [isSubmit]="isSubmit"
          [isValidData]="isValidData('code')"
          [messageError]="dataSource.dataValidator['code'].toMessageString()"
          [isRequired]="true"
          [isDisabled]="true"
        ></emir-form-input>
      </div>
      <div class="col-12">
        <emir-form-input
          [label]="'Họ và tên'"
          [(ngModelValue)]="dataSource.name"
          [isSubmit]="isSubmit"
          [isValidData]="isValidData('name')"
          [messageError]="dataSource.dataValidator['name'].toMessageString()"
          [isRequired]="true"
          [isDisabled]="true"
        ></emir-form-input>
      </div>
      <div class="col-12">
        <emir-form-input
          [label]="'Số điện thoại'"
          [(ngModelValue)]="dataSource.phone"
          [isSubmit]="isSubmit"
          [isValidData]="isValidData('phone')"
          [messageError]="dataSource.dataValidator['phone'].toMessageString()"
          [isRequired]="true"
          [isDisabled]="true"
        ></emir-form-input>
      </div>
      <div class="col-12">
        <emir-form-input
          [label]="'Phòng ban'"
          [(ngModelValue)]="dataSource.organization"
          [isSubmit]="isSubmit"
          [isValidData]="isValidData('organization')"
          [messageError]="
            dataSource.dataValidator['organization'].toMessageString()
          "
          [isRequired]="true"
          [isDisabled]="true"
        ></emir-form-input>
      </div>
      <div class="col-12">
        <emir-form-input-calendar
          [label]="'Ngày bắt đầu tư vấn'"
          [isRequired]="true"
          [(ngModelValue)]="dataSource.date"
          [placeholder]="'dd/mm/yy'"
          [isSubmit]="isSubmit"
          [isValidData]="isValidData('date')"
          [messageError]="dataSource.dataValidator['date'].toMessageString()"
        ></emir-form-input-calendar>
      </div>
    </div>
  </div>
</emir-form-dialog>
