<div
  class="sidenav"
  [ngClass]="collapsed ? 'sidenav-collapsed' : ''"
  (mouseenter)="onMouseOverSidenav($event)"
  (mouseleave)="onMouseOutSidenav($event)"
>
  <div
    class="logo-container"
    [style.paddingLeft]="collapsed ? '0.1875rem' : null"
    [style.paddingRight]="collapsed ? '0.1875rem' : null"
  >
    <!-- <button class="logo" (click)="clickOpenSideNav()">A</button>
    <div class="logo-text" @fadeInOut *ngIf="!collapsed">Angular</div>
    <button
      class="btn-close"
      @fadeInOut
      @rotate
      *ngIf="!collapsed"
      (click)="closeSidenav()"
    >
      <i class="pi pi-times close-icon"></i>
    </button> -->
    <img src="assets/images/logo-side-nav.svg" alt="" />
    <img
      class="ml-2"
      @fadeInOut
      *ngIf="!collapsed"
      src="assets/images/name-side-nav.svg"
      alt=""
    />
  </div>
  <div class="scrollwrap scrollwrap_delayed">
    <ul class="sidenav-nav">
      <li
        class="sidenav-nav-item"
        [ngClass]="getActiveClass(data)"
        *ngFor="let data of navData"
      >
        <a
          *ngIf="data.children && data.children.length > 0"
          href=""
          class="sidenav-nav-link"
          (click)="handleClick($event, data)"
          [title]="data.label"
        >
          <i class="sidenav-link-icon" [class]="data.icon"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="!collapsed">
            {{ data.label }}
          </span>
          <i
            *ngIf="data.children && !collapsed"
            class="menu-collapsed-icon"
            [ngClass]="
              !data.expanded ? 'pi pi-chevron-up' : 'pi pi-chevron-down'
            "
          ></i>
        </a>

        <a
          *ngIf="
            !data.children || (data.children && data.children.length === 0)
          "
          href=""
          class="sidenav-nav-link"
          [routerLink]="[data.routerLink]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          [title]="data.label"
        >
          <i class="sidenav-link-icon" [class]="data.icon"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="!collapsed">
            {{ data.label }}
          </span>
        </a>
        <div *ngIf="data.children && data.children.length > 0">
          <app-subnav
            [data]="data"
            [collapsed]="collapsed"
            [expanded]="data.expanded"
          ></app-subnav>
        </div>
      </li>
    </ul>
  </div>
  <div
    class="collapsed-container cursor-pointer"
    (click)="onClickBtnCollapsed($event)"
    aria-hidden="true"
  >
    <i
      class="pi"
      [ngClass]="!clickedSideNav ? 'pi-fast-backward' : 'pi-fast-forward'"
    ></i>
    <span class="ml-3" *ngIf="!collapsed">
      {{ !clickedSideNav ? 'Thu gọn menu' : 'Mở rộng menu' }}
    </span>
  </div>
</div>
