.sidenav {
  background: #263238;
  transition: all 0.5s ease;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 26.5rem;
  height: 100vh;
  box-shadow: 0.1008rem 0 2rem 0 #86903a;
  font-size: 1.6rem;

  .logo-container {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    width: 100%;

    .logo {
      background: #fff;
      text-align: center;
      width: 4.8rem;
      min-width: 4.8rem;
      border-radius: 0.5rem;
      padding: 0.5rem;
      font-size: 2.4rem;
      font-weight: 900;
      cursor: pointer;
      border: none;
    }

    .logo-text {
      margin-left: 2.4rem;
      font-size: 2.4rem;
      font-weight: 700;
      color: #fff;
    }

    .btn-close {
      margin-left: auto;
      cursor: pointer;
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;

      .close-icon {
        color: #fff;
        font-size: 2.4rem;
      }
    }
  }

  .sidenav-nav {
    list-style: none;
    // padding: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.2rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    // height: calc(100% - 5.84rem);

    .sidenav-nav-item {
      width: 100%;
      margin-bottom: 1rem;

      .sidenav-nav-link {
        display: flex;
        align-items: center;
        min-height: 4.8rem;
        color: #f3f3f3;
        text-decoration: none;
        border-radius: 1rem;
        transition: all 0.3s ease;

        .sidenav-link-icon {
          font-size: 2.2rem;
          width: 3.2rem;
          min-width: 3.2rem;
          // margin: 0 0.8rem;
          // flex: 1;
          margin: 0 0.8rem;
          flex: 0;
          text-align: center;
          transition: all 0.5s ease-in;
        }

        .sidenav-link-text {
          margin-left: 2.4rem;
        }

        &:hover {
          background-color: #fff;
          color: #000;
          .menu-collapsed-icon {
            color: #000;
          }
        }
      }
    }
  }
}

.sidenav-collapsed {
  width: 8rem;

  .sidenav-link-icon {
    font-size: 2.2rem;
    width: 3.2rem;
    min-width: 3.2rem;
    // margin: 0 0.8rem;
    // flex: 0 !important;
    flex: 1 !important;
    text-align: center;
  }
}

.active {
  background-color: #fff;
  .menu-collapsed-icon,
  .sidenav-link-icon,
  .sidenav-link-text {
    color: #000;
  }
}

.menu-collapsed-icon {
  font-size: 2.5rem;
  width: 3.2rem;
  min-width: 3.2rem;
  margin: auto 0.8rem auto auto;
  text-align: center;
  color: #f3f3f3;
}

.scrollwrap {
  overflow-y: scroll;
  visibility: hidden;
  height: calc(100% - 5.4rem);
  scrollbar-width: thin;
  scrollbar-color: #556268 transparent;
}

.sidenav-nav,
.scrollwrap:hover,
.scrollwrap:focus {
  visibility: visible;
}

.scrollwrap_delayed {
  transition: visibility 0.5s 0.2s;

  &:hover {
    transition: visibility 0.2s 0.2s;
  }
}
