<emir-form-dialog [header]="'Thêm mới'" [listAction]="listAction">
  <div [ngClass]="classContainer">
    <p-fileUpload
      [auto]="true"
      [name]="'demo[]'"
      [customUpload]="true"
      (uploadHandler)="onUpload($event)"
      [accept]="accept"
      [maxFileSize]="maxFileSize"
    >
      <ng-template pTemplate="content" let-files></ng-template>
      <ng-template let-file pTemplate="file"></ng-template>
      <ng-template pTemplate="content">
        <!-- <p-progressBar *ngIf="isUploading" mode="indeterminate"></p-progressBar> -->
        <emir-form-image
          *ngIf="fileImageUrl"
          [imageSource]="selectedImage"
          [isDisabled]="false"
          [showBtnInsert]="false"
          (_onRemove)="onRemoveImage($event)"
        ></emir-form-image>
      </ng-template>
    </p-fileUpload>
  </div>
</emir-form-dialog>
