<div class="layout-topbar" [ngClass]="getHeadClass()">
  <div class="head-content">
    <div class="head-content-left">
      <span class="text-xl font-semibold">{{ headerTitle }}</span>
    </div>
    <div class="head-content-right">
      <div class="head-menu">
        <button class="head-menu-item-btn ripple" (click)="logout()">
          Logout
        </button>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <i class="pi pi-bell menu"></i>
          </button>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <i class="pi pi-whatsapp menu-icon"></i>
          </button>
        </div>
      </div>
      <div class="head-user-avatar-container">
        <div class="head-user-avatar">
          <img
            [src]="'assets/avatar-user.jpg'"
            alt="user"
            class="user-avatar"
          />
          <!-- <div class="circle-indicator pulse"></div> -->
        </div>
      </div>
    </div>
  </div>
</div>
