<div [ngClass]="'w-fit h-fit ' + classContainer">
  <p-image
    [src]="src"
    alt="Image"
    [width]="widthImg"
    [height]="heightImg"
    [imageStyle]="{ 'object-fit': 'cover' }"
    [ngClass]="'cursor-pointer' + classImage"
    [preview]="_preview"
  ></p-image>
  <div class="flex justify-content-center" *ngIf="!isDisabled">
    <i
      *ngIf="showBtnInsert"
      class="pi pi-pencil text-xs mr-2 cursor-pointer"
      aria-hidden="true"
      (click)="insertImage($event)"
    ></i>
    <i
      *ngIf="showBtnRemove"
      class="pi pi-trash text-xs cursor-pointer"
      aria-hidden="true"
      (click)="removeImage($event)"
    ></i>
  </div>
  <small id="" *ngIf="isValidData && isSubmit" class="p-error">
    {{ messageError }}
  </small>
</div>
