<div class="grid">
  <div class="col-12">
    <div class="card">
      <div>
        <h4>Thông báo linh động</h4>
      </div>
      <emir-form-table
        [columns]="headerColumns"
        [dataSource]="dataSource"
        [isLoading]="isLoading"
        [resizableColumns]="true"
        [listAction]="listAction"
      >
        <ng-container filter>
          <div
            #divFilter
            class="flex flex-column lg:flex-row xl:flex-row w-full"
          >
            <!-- <form-input
              class="col"
              [floatLabel]="true"
              [placeholder]="'Nhập tên sự kiện/ ban tổ chức'"
              [label]="'Tìm kiếm'"
            [(ngModelValue)]="filter.keyword"
              (_onChange)="changeFilter($event)"
            ></form-input> -->
            <emir-form-multi-select
              class="col-12 lg:col-4 xl:col-3"
              [label]="'Trạng thái'"
              [floatLabel]="true"
              [options]="listStatus"
            ></emir-form-multi-select>
            <!-- <form-multi-select
              class="col"
              [floatLabel]="true"
              [options]="listStatus"
              [(ngModelValue)]="filter.status"
              [label]="'Trạng thái'"
              (_onChange)="changeFilter($event)"
            ></form-multi-select> -->
            <!-- <form-input-calendar
              class="col"
              [floatLabel]="true"
              [showButtonBar]="true"
              [(ngModelValue)]="filter.startDate"
              [placeholder]="'dd/mm/yyyy'"
              [label]="'Ngày tổ chức'"
              (_onChange)="changeFilter($event)"
            ></form-input-calendar> -->
          </div>
        </ng-container>
      </emir-form-table>
    </div>
  </div>
</div>
