$widthSideNav: 18.75rem !default;
$widthSideNavCollapsed: 5.5rem !default;
$heightLogoSideNav: 6.25rem !default;
$heightCollapsed: 3rem !default;
$heightHeader: 5.5rem !default;
$paddingLayoutPage: 1.25rem !default;
$paddingBottomLayoutPage: 3rem !default;
