@import 'styles/default.scss';
@import 'styles/constant.scss';

p,
span,
input,
label,
li {
  font-size: $font-size-sm;
  font-weight: $font-weight-400;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   margin: 0;
// }

div.layout-content {
  height: calc(100% - $heightHeader);
  & > *:not(:nth-child(1), :nth-child(2)) {
    display: block;
    height: 100%;
  }
}

emir-form-table.auto-height-form-table {
  p-table {
    height: calc(100% - 40px) !important;
    div.p-datatable {
      height: 100% !important;
    }
  }
}

div.div-filter-page {
  padding: 1rem;
  padding-top: 2.25rem;
  background: #fff;
  border-radius: 12px;
  margin-bottom: 1rem;
}

div.div-main-page {
  background: #fff;
  border-radius: 12px;
  padding: 1.5rem;
}

div.div-header-page-detail {
  padding: 1rem;
  background: #fff;
  border-radius: 12px;
  margin-bottom: 1rem;
}

div.div-main-page-detail {
  background: #fff;
  border-radius: 12px;
  padding: 1.5rem;
}

.p-datatable-scrollable td.p-frozen-column {
  z-index: unset;
}

span.p-float-label > label {
  top: -0.75rem;
  font-size: $font-size-xs;
  left: 0;
}

span.p-float-label-input {
  display: block;
  position: relative;
  & > label {
    position: absolute;
    pointer-events: none;
    margin-top: -0.5rem;
    transition-property: all;
    transition-timing-function: ease;
    line-height: 1;
    top: -0.75rem;
    font-size: $font-size-xs;
    color: #6c757d;
    transition-duration: 0.2s;
    left: 0;
  }
}

span.p-float-label {
  div.p-dropdown-clearable {
    span.p-dropdown-label {
      opacity: 1;
    }
  }
}

.p-component:disabled,
.p-disabled {
  background-color: $colorDisabled;
  border-color: $colorDisabled;
  opacity: 1;
  color: $colorTextDisabled;
  & > span,
  .p-icon {
    color: $colorTextDisabled;
  }
}

.p-error {
  color: $colorTextError;
}

.required-field {
  color: $required !important;
}
