<div class="grid h-full overflow-y-auto">
  <div class="col-12 h-full">
    <div class="card">
      <div class="p-fluid p-formgrid grid">
        <div class="col-12 lg:col-4 xl:col-3">
          <emir-form-label
            [classLabel]="'inline-block mb-2'"
            [label]="'Ảnh đại diện'"
          ></emir-form-label>
          <emir-form-image
            [imageSource]="avatarImageIImage"
            [isDisabled]="isDisabled"
            (_onChange)="onChangeImage($event, 'avatarImage')"
            (_onRemove)="onRemoveImage($event, 'avatarImage')"
          ></emir-form-image>
        </div>
        <div class="col-12 lg:col-4 xl:col-3">
          <emir-form-label
            [classLabel]="'inline-block mb-2'"
            [label]="'Ảnh mặt trước'"
            [isRequired]="true"
          ></emir-form-label>
          <emir-form-image
            [imageSource]="frontImageIImage"
            [isDisabled]="isDisabled"
            (_onChange)="onChangeImage($event, 'frontImage')"
            (_onRemove)="onRemoveImage($event, 'frontImage')"
            [isSubmit]="isSubmit"
            [isValidData]="isValidData('frontImage')"
            [messageError]="
              dataSource.dataValidator['frontImage'].toMessageString()
            "
          ></emir-form-image>
        </div>
        <div class="col-12 lg:col-4 xl:col-3">
          <emir-form-label
            [classLabel]="'inline-block mb-2'"
            [label]="'Ảnh mặt sau'"
            [isRequired]="true"
          ></emir-form-label>
          <emir-form-image
            [imageSource]="backImageIImage"
            [isDisabled]="isDisabled"
            (_onChange)="onChangeImage($event, 'backImage')"
            (_onRemove)="onRemoveImage($event, 'backImage')"
            [isSubmit]="isSubmit"
            [isValidData]="isValidData('backImage')"
            [messageError]="
              dataSource.dataValidator['backImage'].toMessageString()
            "
          ></emir-form-image>
        </div>
        <div class="col-12 lg:col-4 xl:col-3"></div>
        <div class="col-12 lg:col-4 xl:col-3">
          <emir-form-input
            [label]="'Mã khách hàng'"
            [(ngModelValue)]="dataSource.code"
            [isDisabled]="true"
          ></emir-form-input>
        </div>
        <div class="col-12 lg:col-4 xl:col-3">
          <emir-form-input
            [label]="'Họ tên'"
            [(ngModelValue)]="dataSource.fullname"
            [isSubmit]="isSubmit"
            [isValidData]="isValidData('fullname')"
            [messageError]="
              dataSource.dataValidator['fullname'].toMessageString()
            "
            [isRequired]="true"
            [isDisabled]="isDisabled"
          ></emir-form-input>
        </div>
        <div class="col-12 lg:col-4 xl:col-3">
          <emir-form-input-calendar
            [label]="'Ngày sinh'"
            [(ngModelValue)]="dataSource.birthday"
            [isSubmit]="isSubmit"
            [isValidData]="isValidData('birthday')"
            [messageError]="
              dataSource.dataValidator['birthday'].toMessageString()
            "
            [isRequired]="true"
            [isDisabled]="isDisabled"
          ></emir-form-input-calendar>
        </div>
        <div class="col-12 lg:col-4 xl:col-3">
          <emir-form-dropdown
            [label]="'Giới tính'"
            [(ngModelValue)]="dataSource.gender"
            [options]="listGender"
            [isSubmit]="isSubmit"
            [isValidData]="isValidData('gender')"
            [messageError]="
              dataSource.dataValidator['gender'].toMessageString()
            "
            [isRequired]="true"
            [isDisabled]="isDisabled"
          ></emir-form-dropdown>
        </div>
        <div class="col-12 lg:col-4 xl:col-3">
          <emir-form-dropdown
            [label]="'Loại giấy tờ'"
            [(ngModelValue)]="dataSource.typeOfDocument"
            [options]="listIdType"
            [isSubmit]="isSubmit"
            [isValidData]="isValidData('typeOfDocument')"
            [messageError]="
              dataSource.dataValidator['typeOfDocument'].toMessageString()
            "
            [isRequired]="true"
            [isDisabled]="isDisabled"
          ></emir-form-dropdown>
        </div>
        <div class="col-12 lg:col-4 xl:col-3">
          <emir-form-input
            [label]="'Mã giấy tờ'"
            [(ngModelValue)]="dataSource.idNo"
            [isSubmit]="isSubmit"
            [isValidData]="isValidData('idNo')"
            [messageError]="dataSource.dataValidator['idNo'].toMessageString()"
            [isRequired]="true"
            [isDisabled]="isDisabled"
          ></emir-form-input>
        </div>
        <div class="col-12 lg:col-4 xl:col-3">
          <emir-form-input
            [label]="'Mã giới thiệu'"
            [(ngModelValue)]="dataSource.referralCode"
            [isDisabled]="isDisabled"
          ></emir-form-input>
        </div>
        <div class="col-12 lg:col-4 xl:col-3">
          <emir-form-input-calendar
            [label]="'Ngày cấp giấy tờ'"
            [(ngModelValue)]="dataSource.taxCodeDate"
            [isSubmit]="isSubmit"
            [isValidData]="isValidData('taxCodeDate')"
            [messageError]="
              dataSource.dataValidator['taxCodeDate'].toMessageString()
            "
            [isRequired]="true"
            [isDisabled]="isDisabled"
          ></emir-form-input-calendar>
        </div>
        <div class="col-12 lg:col-4 xl:col-3">
          <emir-form-input-calendar
            [label]="'Ngày hết hạn giấy tờ'"
            [(ngModelValue)]="dataSource.expiredDate"
            [isSubmit]="isSubmit"
            [isValidData]="isValidData('expiredDate')"
            [messageError]="
              dataSource.dataValidator['expiredDate'].toMessageString()
            "
            [isRequired]="true"
            [isDisabled]="isDisabled"
          ></emir-form-input-calendar>
        </div>
        <div class="col-12 lg:col-4 xl:col-3">
          <emir-form-input
            [label]="'Nơi cấp'"
            [(ngModelValue)]="dataSource.taxCodePlace"
            [isSubmit]="isSubmit"
            [isValidData]="isValidData('taxCodePlace')"
            [messageError]="
              dataSource.dataValidator['taxCodePlace'].toMessageString()
            "
            [isRequired]="true"
            [isDisabled]="isDisabled"
          ></emir-form-input>
        </div>
        <div class="col-12 lg:col-4 xl:col-3">
          <emir-form-dropdown
            [label]="'Quốc tịch'"
            [options]="listNation"
            [(ngModelValue)]="dataSource.nation"
            [isSubmit]="isSubmit"
            [isFilter]="true"
            [isValidData]="isValidData('nation')"
            [messageError]="
              dataSource.dataValidator['nation'].toMessageString()
            "
            [isRequired]="true"
            [isDisabled]="isDisabled"
          ></emir-form-dropdown>
        </div>
        <div class="col-12 lg:col-4 xl:col-3">
          <emir-form-input
            [label]="'Nguyên quán'"
            [(ngModelValue)]="dataSource.country"
            [isSubmit]="isSubmit"
            [isValidData]="isValidData('country')"
            [messageError]="
              dataSource.dataValidator['country'].toMessageString()
            "
            [isRequired]="true"
            [isDisabled]="isDisabled"
          ></emir-form-input>
        </div>
        <div class="col-12 lg:col-4 xl:col-3">
          <emir-form-input
            [type]="TYPE_INPUT.NUMBER"
            [isHideArrows]="true"
            [label]="'Số điện thoại'"
            [(ngModelValue)]="dataSource.numberPhone"
            [isSubmit]="isSubmit"
            [isValidData]="isValidData('numberPhone')"
            [messageError]="
              dataSource.dataValidator['numberPhone'].toMessageString()
            "
            [isRequired]="true"
            [isDisabled]="isDisabled"
          ></emir-form-input>
        </div>
        <div class="col-12 lg:col-4 xl:col-3">
          <emir-form-input
            [label]="'Email'"
            [(ngModelValue)]="dataSource.email"
            [isDisabled]="isDisabled"
          ></emir-form-input>
        </div>
        <div class="col-12 lg:col-4 xl:col-3">
          <emir-form-input
            [label]="'Địa chỉ thường trú'"
            [(ngModelValue)]="dataSource.permanentAddress"
            [isSubmit]="isSubmit"
            [isValidData]="isValidData('permanentAddress')"
            [messageError]="
              dataSource.dataValidator['permanentAddress'].toMessageString()
            "
            [isRequired]="true"
            [isDisabled]="isDisabled"
          ></emir-form-input>
        </div>
        <div class="col-12 lg:col-4 xl:col-3">
          <emir-form-input
            [label]="'Địa chỉ liên hệ'"
            [(ngModelValue)]="dataSource.contactAddress"
            [isDisabled]="true"
          ></emir-form-input>
        </div>
        <div class="col-12 lg:col-4 xl:col-3">
          <emir-form-input
            [label]="'Nguồn tạo tài khoản'"
            [(ngModelValue)]="dataSource.accountSource"
            [isDisabled]="true"
          ></emir-form-input>
        </div>
        <div class="col-12 lg:col-4 xl:col-3">
          <emir-form-input
            [label]="'Người tạo'"
            [(ngModelValue)]="dataSource.createdUser"
            [isDisabled]="true"
          ></emir-form-input>
        </div>
        <div class="col-12 lg:col-4 xl:col-3">
          <emir-form-input-calendar
            [label]="'Thời gian tạo'"
            [(ngModelValue)]="dataSource.createdTime"
            [isDisabled]="true"
          ></emir-form-input-calendar>
        </div>
      </div>
    </div>
  </div>
</div>
