<div class="p-dialog max-h-full h-full w-full">
  <div [ngClass]="'p-dialog-header ' + classDialogHeader">
    <span>{{ header }}</span>
    <i
      class="pi pi-spin pi-times cursor-pointer"
      aria-hidden="true"
      (click)="onClickCloseModal($event)"
    ></i>
  </div>

  <div [ngClass]="'p-dialog-content ' + classDialogContnent">
    <ng-content></ng-content>
  </div>

  <div [ngClass]="'p-dialog-footer ' + classDialogFooter">
    <emir-form-button
      *ngFor="let action of listAction"
      [label]="action.label"
      [icon]="action.icon || ''"
      [styleClass]="'p-button-' + action.styleClassButton || ''"
      (_onClick)="handleClick($event, action)"
    ></emir-form-button>
  </div>
</div>
