<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="grid">
        <div class="col-12">
          <div class="card">
            <div
              class="flex flex-column lg:flex-row xl:flex-row justify-content-between align-items-center"
            >
              <h4>Thông tin khách hàng doanh nghiệp</h4>
              <div>
                <ng-container *ngIf="activeIndex === tabDetailGeneral">
                  <emir-form-button
                    *ngIf="isEdit"
                    class="ml-2"
                    [label]="'Lưu lại'"
                    [icon]="'pi pi-save'"
                    (_onClick)="onClickSave($event)"
                  ></emir-form-button>
                  <emir-form-button
                    *ngIf="!isEdit"
                    class="ml-2"
                    [label]="'Chỉnh sửa'"
                    [icon]="'pi pi-pencil'"
                    (_onClick)="onClickEdit($event)"
                  ></emir-form-button>
                </ng-container>
                <emir-form-button
                  class="ml-2"
                  [label]="'Quay lại'"
                  [icon]="'pi pi-chevron-left'"
                  (_onClick)="onClickBack($event)"
                ></emir-form-button>
              </div>
            </div>
            <emir-form-tab-view
              [(activeIndex)]="activeIndex"
              [listTabPanel]="listTabPanel"
            ></emir-form-tab-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
