.three-dot-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

tr.row-empty {
  background-color: #f7f9ff !important;
}

:host::ng-deep {
  .hideDivHeader {
    div.p-datatable-header {
      display: none !important;
    }
  }
}
