.three-dot-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

tr.row-empty {
  background-color: #f7f9ff !important;
}

:host::ng-deep {
  .hideDivHeader {
    div.p-datatable-header {
      display: none !important;
    }
  }
}

div.div-table-container {
  height: 100%;
  padding: 1rem 1rem 0.5rem 1rem;
  border: 1px solid #eaecf0;
  border-radius: 8px;
}
