<div class="h-full">
  <div
    #divHeader
    class="flex flex-column lg:flex-row xl:flex-row justify-content-between align-items-center div-header-page-detail"
  >
    <span class="text-lg font-semibold">Thông tin khách hàng cá nhân</span>
    <div>
      <ng-container *ngIf="activeIndex === tabDetailGeneral">
        <emir-form-button
          *ngIf="isEdit"
          class="ml-2"
          [label]="'Lưu lại'"
          [icon]="'pi pi-save'"
          (_onClick)="onClickSave($event)"
        ></emir-form-button>
        <emir-form-button
          *ngIf="!isEdit"
          class="ml-2"
          [label]="'Chỉnh sửa'"
          [icon]="'pi pi-pencil'"
          (_onClick)="onClickEdit($event)"
        ></emir-form-button>
      </ng-container>
      <emir-form-button
        *ngIf="showBtnCheck"
        class="ml-2"
        [label]="'Vận hành kiểm tra'"
        [icon]="'pi pi-check'"
        (_onClick)="onClickCheck($event)"
      ></emir-form-button>
      <emir-form-button
        class="ml-2"
        [label]="'Quay lại'"
        [icon]="'pi pi-chevron-left'"
        (_onClick)="onClickBack($event)"
      ></emir-form-button>
    </div>
  </div>
  <div
    class="div-main-page-detail"
    [style.height]="
      'calc(100% - ' + divHeader.getBoundingClientRect().height + 'px - 1rem)'
    "
  >
    <emir-form-tab-view
      class="tab-view-detail"
      [(activeIndex)]="activeIndex"
      [listTabPanel]="listTabPanel"
    ></emir-form-tab-view>
  </div>
</div>
