.layout-footer {
  padding: 1.75rem;
  height: 7.5rem;
  box-shadow: 0rem 0rem 0.625rem 0 rgb(34 41 47 / 10%);

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .footer-content-left {
      .logo-container {
        height: 100%;
        display: flex;
        width: 100%;
        align-items: center;

        .logo {
          background: #000;
          text-align: center;
          width: 3rem;
          min-width: 3rem;
          border-radius: 0.3125rem;
          padding: 0.3125rem;
          font-size: 1.5rem;
          font-weight: 900;
          cursor: pointer;
          border: none;
          color: #fff;
        }

        .logo-text {
          margin-left: 1.5rem;
          font-size: 1.5rem;
          font-weight: 700;
          color: #000;
        }
      }
    }

    .footer-content-right {
      display: flex;
      align-items: center;

      .footer-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 1.25rem;

        .footer-menu-item {
          .footer-menu-item-btn {
            font-size: 1.125rem;
            height: 2.625rem;
            width: 2.625rem;
            cursor: pointer;
            border: 0.0625rem solid transparent;
            border-radius: 50%;
            margin-left: 0.3125rem;
            outline: 0;
            color: #495057;

            .flag {
              height: 1.0625rem;
              border-radius: 0.1875rem;
              margin-top: 0.125rem;
            }

            &:hover,
            &:focus {
              background-color: #eff2f3;
              .menu-icon {
                color: #699dfa;
              }
            }
          }
        }
      }
    }
  }
}
