:host ::ng-deep {
  .custom-tabview {
    div.p-tabview-panels {
      p-tabpanel.hidden-tabpanel {
        display: none;
      }
    }
  }
}

div.div-tab-view-container {
  height: 100%;
  padding: 1rem;
  border: 1px solid #eaecf0;
  border-radius: 8px;
}
