<div class="layout-main" [ngClass]="classStyling">
  <app-side-nav (toggleSidenav)="onToggleSidenav($event)"></app-side-nav>
  <app-header
    [collapsed]="isSidenavCollapsed"
    [screenWidth]="screenWidth"
    [isHover]="isHover"
  ></app-header>
  <app-breadcrumb></app-breadcrumb>
  <div class="layout-content relative">
    <emir-form-spinner-loading></emir-form-spinner-loading>
    <router-outlet></router-outlet>
  </div>
  <!-- <app-footer
    [collapsed]="isSidenavCollapsed"
    [screenWidth]="screenWidth"
  ></app-footer> -->
</div>
