.layout-main {
  width: calc(100% - 15rem);
  height: 100vh;
  min-height: 100vh;
  margin-left: 15rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all 0.5s ease;
  background: #f4f7fa;
  padding-top: 4.75rem;
  display: flex;
  flex-direction: column;

  .layout-content {
    padding: 0.5rem 1.5rem 0 1.5rem;
    flex: 1 0 auto;
  }
}

.layout-main-collapsed {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}
