.layout-main {
  width: calc(100% - 8rem);
  height: 100vh;
  min-height: 100vh;
  margin-left: 8rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all 0.5s ease;
  background: #f4f7fa;
  padding-top: 7.6rem;
  display: flex;
  flex-direction: column;

  .layout-content {
    padding: 2.8rem;
    flex: 1 0 auto;
  }
}

.layout-main-trimmed {
  width: calc(100% - 26.5rem);
  margin-left: 26.5rem;
}

.layout-main-md-screen {
  width: calc(100% - 8rem);
  margin-left: 8rem;
}
