<div class="grid h-full">
  <div class="col-12 h-full">
    <div class="card h-full">
      <div
        class="flex flex-column lg:flex-row xl:flex-row justify-content-between align-items-center"
      >
        <h4>Khách hàng cá nhân</h4>
        <emir-form-button
          [label]="'Thêm mới'"
          (_onClick)="create($event)"
        ></emir-form-button>
      </div>
      <emir-form-table
        [columns]="headerColumns"
        [dataSource]="dataSource"
        [isLoading]="isLoading"
        [resizableColumns]="true"
        [listAction]="listAction"
        [(page)]="page"
        (_changePage)="changePage($event)"
        (_onSort)="onSort($event)"
      >
        <ng-container filter>
          <div
            #divFilter
            class="flex flex-column lg:flex-row xl:flex-row w-full"
          >
            <emir-form-input
              class="col-12 lg:col-2 xl:col-2"
              [floatLabel]="true"
              [placeholder]="'Tìm kiếm'"
              [label]="'Tìm kiếm'"
              [(ngModelValue)]="filter.keyword"
              (_onChange)="changeFilter($event)"
            ></emir-form-input>
            <emir-form-dropdown
              class="col-12 lg:col-2 xl:col-2"
              [label]="'Tìm kiếm theo'"
              [floatLabel]="true"
              [options]="listFilterType"
              [showClearFloatLabel]="false"
              [(ngModelValue)]="filter.type"
              (_onChange)="changeFilter($event)"
            ></emir-form-dropdown>
            <emir-form-dropdown
              class="col-12 lg:col-2 xl:col-2"
              [label]="'Vận hành kiểm tra'"
              [floatLabel]="true"
              [options]="listCheck"
              [(ngModelValue)]="filter.check"
              (_onChange)="changeFilter($event)"
            ></emir-form-dropdown>
            <emir-form-dropdown
              class="col-12 lg:col-2 xl:col-2"
              [label]="'Nguồn khởi tạo'"
              [floatLabel]="true"
              [options]="listCreateSource"
              [(ngModelValue)]="filter.source"
              (_onChange)="changeFilter($event)"
            ></emir-form-dropdown>
            <emir-form-dropdown
              class="col-12 lg:col-2 xl:col-2"
              [label]="'Trạng thái'"
              [floatLabel]="true"
              [options]="listStatus"
              [(ngModelValue)]="filter.status"
              (_onChange)="changeFilter($event)"
            ></emir-form-dropdown>
          </div>
        </ng-container>
      </emir-form-table>
    </div>
  </div>
</div>
