@font-face {
  font-family: SF-PRO-TEXT-BLACK;
  src: url('./assets/font/SF-PRO-TEXT/SF-PRO-TEXT-BLACK.OTF');
}
@font-face {
  font-family: SF-PRO-TEXT-BLACKITALIC;
  src: url('./assets/font/SF-PRO-TEXT/SF-PRO-TEXT-BLACKITALIC.OTF');
}
@font-face {
  font-family: SF-PRO-TEXT-BOLD;
  src: url('./assets/font/SF-PRO-TEXT/SF-PRO-TEXT-BOLD.OTF');
}
@font-face {
  font-family: SF-PRO-TEXT-BOLDITALIC;
  src: url('./assets/font/SF-PRO-TEXT/SF-PRO-TEXT-BOLDITALIC.OTF');
}
@font-face {
  font-family: SF-PRO-TEXT-HEAVY;
  src: url('./assets/font/SF-PRO-TEXT/SF-PRO-TEXT-HEAVY.OTF');
}
@font-face {
  font-family: SF-PRO-TEXT-HEAVYITALIC;
  src: url('./assets/font/SF-PRO-TEXT/SF-PRO-TEXT-HEAVYITALIC.OTF');
}
@font-face {
  font-family: SF-PRO-TEXT-LIGHT;
  src: url('./assets/font/SF-PRO-TEXT/SF-PRO-TEXT-LIGHT.OTF');
}
@font-face {
  font-family: SF-PRO-TEXT-LIGHTITALIC;
  src: url('./assets/font/SF-PRO-TEXT/SF-PRO-TEXT-LIGHTITALIC.OTF');
}
@font-face {
  font-family: SF-PRO-TEXT-MEDIUM;
  src: url('./assets/font/SF-PRO-TEXT/SF-PRO-TEXT-MEDIUM.OTF');
}
@font-face {
  font-family: SF-PRO-TEXT-MEDIUMITALIC;
  src: url('./assets/font/SF-PRO-TEXT/SF-PRO-TEXT-MEDIUMITALIC.OTF');
}
@font-face {
  font-family: SF-PRO-TEXT-REGULAR;
  src: url('./assets/font/SF-PRO-TEXT/SF-PRO-TEXT-REGULAR.OTF');
}
@font-face {
  font-family: SF-PRO-TEXT-REGULARITALIC;
  src: url('./assets/font/SF-PRO-TEXT/SF-PRO-TEXT-REGULARITALIC.OTF');
}
@font-face {
  font-family: SF-PRO-TEXT-SEMIBOLD;
  src: url('./assets/font/SF-PRO-TEXT/SF-PRO-TEXT-SEMIBOLD.OTF');
}
@font-face {
  font-family: SF-PRO-TEXT-SEMIBOLDITALIC;
  src: url('./assets/font/SF-PRO-TEXT/SF-PRO-TEXT-SEMIBOLDITALIC.OTF');
}
@font-face {
  font-family: SF-PRO-TEXT-THIN;
  src: url('./assets/font/SF-PRO-TEXT/SF-PRO-TEXT-THIN.OTF');
}
@font-face {
  font-family: SF-PRO-TEXT-THINITALIC;
  src: url('./assets/font/SF-PRO-TEXT/SF-PRO-TEXT-THINITALIC.OTF');
}

@font-face {
  font-family: SF-PRO-TEXT-ULTRALIGHT;
  src: url('./assets/font/SF-PRO-TEXT/SF-PRO-TEXT-ULTRALIGHT.OTF');
}
@font-face {
  font-family: SF-PRO-TEXT-ULTRALIGHTITALIC;
  src: url('./assets/font/SF-PRO-TEXT/SF-PRO-TEXT-ULTRALIGHTITALIC.OTF');
}
