/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import 'primeicons/primeicons.css';
@import '@angular/cdk/overlay-prebuilt.css';
@import 'styles/layout.scss';
@import 'styles/themes/theme.scss';

* {
  // padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f7fa;
}

::-webkit-scrollbar {
  width: 0.3125rem;
  height: 0.3125rem;
  background: #e0e0e0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #556268;
  border-radius: 1.25rem;
}
