<emir-form-dialog [header]="'Thêm mới'" [listAction]="listAction">
  <div class="grid">
    <div class="col-12">
      <div class="card">
        <h5>Thông tin doanh nghiệp</h5>
        <div class="p-fluid p-formgrid grid">
          <div class="col-12 xl:col-3">
            <emir-form-input
              [label]="'Mã doanh nghiệp'"
              [(ngModelValue)]="dataSource.code"
              [isSubmit]="isSubmit"
              [isValidData]="isValidData('code')"
              [messageError]="
                dataSource.dataValidator['code'].toMessageString()
              "
              [isRequired]="true"
            ></emir-form-input>
          </div>
          <div class="col-12 xl:col-3">
            <emir-form-input
              [label]="'Mã số thuế'"
              [(ngModelValue)]="dataSource.taxCode"
              [isSubmit]="isSubmit"
              [isValidData]="isValidData('taxCode')"
              [messageError]="
                dataSource.dataValidator['taxCode'].toMessageString()
              "
              [isRequired]="true"
            ></emir-form-input>
          </div>
          <div class="col-12 xl:col-3">
            <emir-form-input
              [label]="'Nơi cấp'"
              [(ngModelValue)]="dataSource.taxCodePlace"
              [isSubmit]="isSubmit"
              [isValidData]="isValidData('taxCodePlace')"
              [messageError]="
                dataSource.dataValidator['taxCodePlace'].toMessageString()
              "
              [isRequired]="true"
            ></emir-form-input>
          </div>
          <div class="col-12 xl:col-3">
            <emir-form-input-calendar
              [label]="'Ngày cấp'"
              [isRequired]="true"
              [(ngModelValue)]="dataSource.taxCodeDate"
              [placeholder]="'dd/mm/yy'"
              [isSubmit]="isSubmit"
              [isValidData]="isValidData('taxCodeDate')"
              [messageError]="
                dataSource.dataValidator['taxCodeDate'].toMessageString()
              "
            ></emir-form-input-calendar>
          </div>
          <div class="col-12 xl:col-3">
            <emir-form-input-number
              [label]="'Số lần thay đổi'"
              [(ngModelValue)]="dataSource.timesChange"
            ></emir-form-input-number>
          </div>
          <div class="col-12 xl:col-3">
            <emir-form-input-calendar
              [label]="'Ngày thay đổi'"
              [(ngModelValue)]="dataSource.dateChange"
              [placeholder]="'dd/mm/yy'"
            ></emir-form-input-calendar>
          </div>
          <div class="col-12 xl:col-3">
            <emir-form-input
              [label]="'Tên doanh nghiệp'"
              [(ngModelValue)]="dataSource.name"
              [isSubmit]="isSubmit"
              [isValidData]="isValidData('name')"
              [messageError]="
                dataSource.dataValidator['name'].toMessageString()
              "
              [isRequired]="true"
            ></emir-form-input>
          </div>
          <div class="col-12 xl:col-3">
            <emir-form-input
              [label]="'Tên viết tắt'"
              [(ngModelValue)]="dataSource.abbreviation"
              [isSubmit]="isSubmit"
              [isValidData]="isValidData('abbreviation')"
              [messageError]="
                dataSource.dataValidator['abbreviation'].toMessageString()
              "
              [isRequired]="true"
            ></emir-form-input>
          </div>
          <div class="col-12 xl:col-3">
            <emir-form-input-number
              [label]="'Vốn điều lệ'"
              [(ngModelValue)]="dataSource.authorizedCapital"
            ></emir-form-input-number>
          </div>
        </div>
      </div>
      <div class="card">
        <h5>Liên hệ</h5>
        <div class="p-fluid p-formgrid grid">
          <div class="col-12 xl:col-3">
            <emir-form-input
              [label]="'Email'"
              [(ngModelValue)]="dataSource.email"
            ></emir-form-input>
          </div>
          <div class="col-12 xl:col-3">
            <emir-form-input
              [label]="'Số điện thoại'"
              [(ngModelValue)]="dataSource.phone"
            ></emir-form-input>
          </div>
          <div class="col-12 xl:col-3">
            <emir-form-input
              [label]="'Số điện thoại khác'"
              [(ngModelValue)]="dataSource.otherPhone"
            ></emir-form-input>
          </div>
          <div class="col-12 xl:col-3">
            <emir-form-input
              [label]="'Website'"
              [(ngModelValue)]="dataSource.website"
            ></emir-form-input>
          </div>
          <div class="col-12 xl:col-3">
            <emir-form-input
              [label]="'Facebook'"
              [(ngModelValue)]="dataSource.facebook"
            ></emir-form-input>
          </div>
          <div class="col-12 xl:col-3">
            <emir-form-input
              [label]="'Địa chỉ đăng ký'"
              [(ngModelValue)]="dataSource.registerAddress"
              [isSubmit]="isSubmit"
              [isValidData]="isValidData('registerAddress')"
              [messageError]="
                dataSource.dataValidator['registerAddress'].toMessageString()
              "
              [isRequired]="true"
            ></emir-form-input>
          </div>
          <div class="col-12 xl:col-3">
            <emir-form-input
              [label]="'Địa chỉ giao dịch'"
              [(ngModelValue)]="dataSource.transactionAddress"
              [isSubmit]="isSubmit"
              [isValidData]="isValidData('transactionAddress')"
              [messageError]="
                dataSource.dataValidator['transactionAddress'].toMessageString()
              "
              [isRequired]="true"
            ></emir-form-input>
          </div>
          <div class="col-12 xl:col-3">
            <emir-form-input
              [label]="'Quốc gia'"
              [(ngModelValue)]="dataSource.nation"
              [isSubmit]="isSubmit"
              [isValidData]="isValidData('nation')"
              [messageError]="
                dataSource.dataValidator['nation'].toMessageString()
              "
              [isRequired]="true"
            ></emir-form-input>
          </div>
        </div>
        <div class="card">
          <h5>Thông tin người đại diện</h5>
          <div class="p-fluid p-formgrid grid">
            <div class="col-12 xl:col-3">
              <emir-form-input
                [label]="'Người đại diện'"
                [(ngModelValue)]="dataSource.representative"
                [isSubmit]="isSubmit"
                [isValidData]="isValidData('representative')"
                [messageError]="
                  dataSource.dataValidator['representative'].toMessageString()
                "
                [isRequired]="true"
              ></emir-form-input>
            </div>
            <div class="col-12 xl:col-3">
              <emir-form-input
                [label]="'Chức vụ'"
                [(ngModelValue)]="dataSource.representativePosition"
              ></emir-form-input>
            </div>
            <div class="col-12 xl:col-3">
              <emir-form-input
                [label]="'Quyết định số'"
                [(ngModelValue)]="dataSource.decisionNumber"
              ></emir-form-input>
            </div>
            <div class="col-12 xl:col-3">
              <emir-form-input-calendar
                [label]="'Ngày quyết định'"
                [(ngModelValue)]="dataSource.decisionDate"
                [placeholder]="'dd/mm/yy'"
              ></emir-form-input-calendar>
            </div>
          </div>
        </div>
        <div class="card">
          <h5>Thông tin tài khoản</h5>
          <div class="p-fluid p-formgrid grid">
            <div class="col-12 xl:col-3">
              <emir-form-input
                [label]="'Ngân hàng'"
                [(ngModelValue)]="dataSource.bank"
                [isSubmit]="isSubmit"
                [isValidData]="isValidData('bank')"
                [messageError]="
                  dataSource.dataValidator['bank'].toMessageString()
                "
                [isRequired]="true"
              ></emir-form-input>
            </div>
            <div class="col-12 xl:col-3">
              <emir-form-input
                [label]="'Số tài khoản'"
                [(ngModelValue)]="dataSource.accountNumber"
                [isSubmit]="isSubmit"
                [isValidData]="isValidData('accountNumber')"
                [messageError]="
                  dataSource.dataValidator['accountNumber'].toMessageString()
                "
                [isRequired]="true"
              ></emir-form-input>
            </div>
            <div class="col-12 xl:col-3">
              <emir-form-input
                [label]="'Chi nhánh'"
                [(ngModelValue)]="dataSource.bankBranch"
              ></emir-form-input>
            </div>
            <div class="col-12 xl:col-3">
              <emir-form-input
                [label]="'Tên tài khoản'"
                [(ngModelValue)]="dataSource.accountName"
                [isSubmit]="isSubmit"
                [isValidData]="isValidData('accountName')"
                [messageError]="
                  dataSource.dataValidator['accountName'].toMessageString()
                "
                [isRequired]="true"
              ></emir-form-input>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</emir-form-dialog>
