<emir-form-dialog [header]="'Thêm mới'" [listAction]="listAction">
  <div class="grid">
    <div class="col-12">
      <div class="card">
        <h4>Thông tin doanh nghiệp</h4>
        <div class="p-fluid p-formgrid grid">
          <div class="col-12 lg:col-4 xl:col-3">
            <emir-form-label
              [classLabel]="'inline-block mb-2'"
              [label]="'Ảnh đại diện'"
            ></emir-form-label>
            <emir-form-image
              [imageSource]="avatarIImage"
              [isDisabled]="false"
              [widthLimit]="200"
              (_onChange)="onChangeAvatar($event)"
              (_onRemove)="onRemoveAvatar($event)"
            ></emir-form-image>
          </div>
          <div class="col-12 lg:col-8 xl:col-9">
            <div class="p-fluid p-formgrid grid">
              <div class="col-12 lg:col-4 xl:col-4">
                <emir-form-input
                  [label]="'Mã số thuế'"
                  [(ngModelValue)]="dataSource.taxCode"
                  [isSubmit]="isSubmit"
                  [isValidData]="isValidData('taxCode')"
                  [messageError]="
                    dataSource.dataValidator['taxCode'].toMessageString()
                  "
                  [isRequired]="true"
                ></emir-form-input>
              </div>
              <div class="col-12 lg:col-6 xl:col-4">
                <emir-form-input
                  [label]="'Nơi cấp'"
                  [(ngModelValue)]="dataSource.taxCodePlace"
                ></emir-form-input>
              </div>
              <div class="col-12 lg:col-6 xl:col-4">
                <emir-form-input-calendar
                  [label]="'Ngày cấp'"
                  [isRequired]="true"
                  [(ngModelValue)]="dataSource.taxCodeDate"
                  [placeholder]="'dd/mm/yy'"
                ></emir-form-input-calendar>
              </div>
              <div class="col-12 lg:col-6 xl:col-4">
                <emir-form-input
                  [label]="'Tên doanh nghiệp'"
                  [(ngModelValue)]="dataSource.name"
                  [isSubmit]="isSubmit"
                  [isValidData]="isValidData('name')"
                  [messageError]="
                    dataSource.dataValidator['name'].toMessageString()
                  "
                  [isRequired]="true"
                ></emir-form-input>
              </div>
              <div class="col-12 lg:col-6 xl:col-4">
                <emir-form-input
                  [label]="'Tên viết tắt'"
                  [(ngModelValue)]="dataSource.abbreviation"
                ></emir-form-input>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <h4>Liên hệ</h4>
        <div class="p-fluid p-formgrid grid">
          <!-- <div class="col-12 lg:col-4 xl:col-3">
            <emir-form-input
              [label]="'Email'"
              [(ngModelValue)]="dataSource.email"
            ></emir-form-input>
          </div>
          <div class="col-12 lg:col-4 xl:col-3">
            <emir-form-input
              [type]="TYPE_INPUT.NUMBER"
              [isHideArrows]="true"
              [label]="'Số điện thoại'"
              [(ngModelValue)]="dataSource.phone"
            ></emir-form-input>
          </div> -->
          <div class="col-12 lg:col-4 xl:col-3">
            <emir-form-input
              [label]="'Địa chỉ'"
              [(ngModelValue)]="dataSource.address"
            ></emir-form-input>
          </div>
        </div>
        <div class="card">
          <h4>Thông tin người đại diện</h4>
          <div class="p-fluid p-formgrid grid">
            <div class="col-12 lg:col-4 xl:col-3">
              <emir-form-input
                [label]="'Người đại diện'"
                [(ngModelValue)]="dataSource.representative"
              ></emir-form-input>
            </div>
            <div class="col-12 lg:col-4 xl:col-3">
              <emir-form-input
                [label]="'Chức vụ'"
                [(ngModelValue)]="dataSource.representativePosition"
              ></emir-form-input>
            </div>
          </div>
        </div>
        <div class="card">
          <h4>Thông tin tài khoản</h4>
          <div class="p-fluid p-formgrid grid">
            <div class="col-12 lg:col-4 xl:col-3">
              <emir-form-dropdown
                [label]="'Ngân hàng'"
                [options]="listBank"
                [(ngModelValue)]="dataSource.bank"
                [isFilter]="true"
                [isSubmit]="isSubmit"
                [isValidData]="isValidData('bank')"
                [messageError]="
                  dataSource.dataValidator['bank'].toMessageString()
                "
                [isRequired]="true"
              ></emir-form-dropdown>
            </div>
            <div class="col-12 lg:col-4 xl:col-3">
              <emir-form-input
                [type]="TYPE_INPUT.NUMBER"
                [isHideArrows]="true"
                [label]="'Số tài khoản'"
                [(ngModelValue)]="dataSource.accountNumber"
                [isSubmit]="isSubmit"
                [isValidData]="isValidData('accountNumber')"
                [messageError]="
                  dataSource.dataValidator['accountNumber'].toMessageString()
                "
                [isRequired]="true"
              ></emir-form-input>
            </div>
            <div class="col-12 lg:col-4 xl:col-3">
              <emir-form-input
                [label]="'Chi nhánh'"
                [(ngModelValue)]="dataSource.bankBranch"
              ></emir-form-input>
            </div>
            <div class="col-12 lg:col-4 xl:col-3">
              <emir-form-input
                [label]="'Tên tài khoản'"
                [(ngModelValue)]="dataSource.accountName"
                [isSubmit]="isSubmit"
                [isValidData]="isValidData('accountName')"
                [messageError]="
                  dataSource.dataValidator['accountName'].toMessageString()
                "
                [isRequired]="true"
              ></emir-form-input>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</emir-form-dialog>
